// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.jumbotron {
  text-align: center;
  background-color: rgba(23,33,102, 0.3);
  color: white;
  font-family: 'Poiret One', cursive;

}
